body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Align items vertically */
    height: 100vh;
    margin: 0;
    background-image: url('joker-cars.jpg');
    background-size: cover;
    color: #ed0909; /* Text color */
    text-align: center;
    background-position: center;
}

.scoreboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-size: 24px;
    color: #ed0909;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

.player-score, .computer-score {
    padding: 5px 10px;
    border-radius: 5px;
}

.player-score {
    margin-right: 10px; /* Add margin between Player and Joker */
}



.container {
    margin-top: 50px;
}

h1 {
    font-size: 36px;
}

.game {
    margin-top: 50px;
}

.hands {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.vs {
    font-size: 48px;
    margin: 0 30px;
}

.choices button {
    margin: 10px;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    outline: none;
    transition: background-color 0.3s, transform 0.3s;
}

.choices button:hover {
    background-color: #34495e;
}

.rock, .paper, .scissors {
    background-color: #ed0909;
}

img {
    width: 150px;
    margin: 0 20px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
/* Rest of the styles */

.hand-image {
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
}

#player-hand {
    background-image: url('joker-full.jpg'); /* Path to player's hand image */
}

#computer-hand {
    background-image: url('batman.jpg'); /* Path to joker's hand image */
}

/* Rest of the styles */

